/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #50b3a2;
    padding: 20px 0;
    color: white;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul.show {
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

nav a:hover {
    border-color: white;
}

#menu-toggle {
    display: none;  
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px; /* adjust as per your header height */
        width: 100%;
        background: #50b3a2;
    }

    nav ul.show {
        display: flex;
    }

    nav li {
        margin: 10px 0;
    }
}

section {
    padding: 20px 0;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
